@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #333; /*dark gray color for the background*/
    color: #222; /*text color*/

    overflow-x: hidden; /*this is meant to hide horizontal scroll bars*/
  }

  .container {
    background-color: #fafafa;
    transform-origin: top left; /*make it rotate from the top left instead*/
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
  }

  .container.show-nav { /*when the container has the show-nav class*/
    transform: rotate(-20deg); /*rotates with the middle as rotation point*/
  }

  .container.show-nav .circle { /*style the circle when the container has the show nav class*/
    transform: rotate(-70deg)
  }

  .circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
  }

  .circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative; /*position relative so we can position the buttons inside absolute*/
    transition: transform 0.5s linear; /*same as the container*/
  }

  .circle button {
    cursor: pointer;
    position: absolute; 
    top: 50%; /*with respect to the parent container*/
    left: 50%;
    height: 100px;
    background: transparent; /*make the icon appear transparent*/
    border: 0; /*removes the border from the button*/
    font-size: 26px;
    color: #fff;
  }

  .circle button:focus {
    outline: none; /*remove the border when the button is focused*/
  }

  .circle button#open {
    left: 60%;
  }

  .circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
  }

  .container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
  }

  nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
  }

  nav ul {
    list-style-type: none;
    padding-left: 30px;
  }

  nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
  }

  nav ul li + li { /*li after the initial li*/
    margin-left: 15px;
    transform: translateX(-150%);
  }

  nav ul li + li + li { /*second li after the initial li*/
    transform: translateX(-200%);
    margin-left: 30px;
  }


  nav ul li i {
    font-size: 20px;
    margin-right: 10px;
  }

  .content img {
    max-width: 100%;
  }

  .content {
    max-width: 1000px;
    margin: 50px auto; /*50 pixels top and botton, left and right auto meaning centralized left and right*/
  }

  .content h1 {
    margin: 0; /*remove margins from h1*/
  }

  .content small {
    color: #555; 
    font-style: italic;
  }

  .content p {
    color: #333; 
    line-height: 1.5;
  }